@model FlowApp.Models.ProposalViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Proposal</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Status)
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="...">
            <input type="submit" name="Action" value="Save" class="btn btn-default"/>
            <input type="submit" name="Action" value="Request" class="btn btn-default" />
            <input type="submit" name="Action" value="Request/End" class="btn btn-default" />
            <input type="submit" name="Action" value="Cancel" class="btn btn-default" />
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <input type="submit" name="Action" value="Reject" class="btn btn-default"/>
            <input type="submit" name="Action" value="Approval" class="btn btn-default"/>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}